:root{
    --grid-temp: repeat(3,1fr);
    --dimension: 600px;
}
body{
    text-align: center;
}
.grid-container {
    display: grid;
    height: var(--dimension);  
    width: var(--dimension);
    grid-template: var(--grid-temp)/var(--grid-temp);
    margin: 0 auto;
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
}
.grid {
    padding: 10px;
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
}
.hide{
    display:none;
}
#inst>ol{
    text-align: left;
}

@media(max-width:600px){
    .grid-container{
        height: 300px;
        width: 300px;
    }
}
